h1 { 
    background-color:aqua;
    color:brown

}

    ul { 
        background-color:rgb(235, 47, 34)


    }
    .Real{  
        font-size: x-large

    }
     #boogers{ 
              font-style: italic;


     }

     .header{
       text-align: center;
        color:red;

        font-size: 40px;
        font-family:fantasy;
       
     }
     h2:hover {
       color:rgb(83, 7, 102);

     }
     .image{  
            text-align: center;
 

     }

     